@font-face {
    font-family: 'Marvin';
    src: url('Marvin-Round.eot');
    src: local('Marvin Round'), local('Marvin-Round'),
        url('Marvin-Round.eot?#iefix') format('embedded-opentype'),
        url('Marvin-Round.woff2') format('woff2'),
        url('Marvin-Round.woff') format('woff'),
        url('Marvin-Round.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marvin';
    src: url('Marvin.eot');
    src: local('Marvin'),
        url('Marvin.eot?#iefix') format('embedded-opentype'),
        url('Marvin.woff2') format('woff2'),
        url('Marvin.woff') format('woff'),
        url('Marvin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marvin';
    src: url('Marvin-Shadow.eot');
    src: local('Marvin Shadow'), local('Marvin-Shadow'),
        url('Marvin-Shadow.eot?#iefix') format('embedded-opentype'),
        url('Marvin-Shadow.woff2') format('woff2'),
        url('Marvin-Shadow.woff') format('woff'),
        url('Marvin-Shadow.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.greens-font {
    font-family: Marvin, Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 700em;
}

/* Color  */

.backg-color {
    /* background-color: rgb(31, 50, 65); */
    background-color: rgb(18, 33, 46);
}

.backg-color-faded {
    background-color: rgb(21, 39, 54);
}

.greens-color {
    color: rgb(40, 62, 81);
}

nav .navbar-nav li a{
    /* color: aliceblue; */
    color: rgb(199, 213, 225);
}

nav .navbar-nav li a.current {
    /* color: rgb(181, 213, 210); */
    color: rgb(137, 180, 203);
}

.navbar a:hover {
    /* color: rgb(12, 31, 27) !important; */
    /* color: rgb(122, 161, 189) !important; */
    color: rgb(94, 135, 161) !important;
}

.about-card-text a {
    color: rgb(122, 161, 189);
}


/* Text Customization */

.front-header {
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
    color: aliceblue;
}

.flex-item {
    font-size: 20px;
}

.page-title {
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    /* color: rgb(40, 62, 81); */
    /* color: rgb(199, 213, 225); */
    color: rgb(182, 199, 213);
    
}

.page-subtitle {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(152, 171, 186);
}

.page-title-2 {
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    color: aliceblue;
}

/* .about-card-text {
    padding: 18px 10% 10px 10%;
    font-size: 20px;
    color: rgb(200, 213, 225);
} */

.my-card-title {
    font-size: 17px;
    color: rgb(199, 213, 225);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 1px;
    /* color: rgb(40, 62, 81); */
    /* color: aliceblue; */
    /* font-family: Marvin, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 2px; */
}

.my-card-title-sm {
    font-size: 14px;
    color: rgb(199, 213, 225);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6px;
}

.my-article-title {
    /* font-size: 15px; */
    font-size: 2vmin;
    color: rgb(199, 213, 225);
    font-weight: 700;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 0px;
}

.article-date {
    font-size: 10px;
    color: rgb(199, 213, 225);
    font-weight: 600;
    margin-top: 4px;
}

.my-card-text {
    /* color: rgb(47, 77, 103); */
    /* color: rgb(200, 213, 225); */
    /* color: rgb(182, 199, 213); */
    /* color: rgb(135, 151, 164); */
    /* color: rgb(152, 171, 186); */
    color: rgb(135, 151, 164);
    font-size: 13px;
    /* font-weight: 500; */
    letter-spacing: 1px;
    line-height: 1.25;
}

.my-card-text-sm {
    /* color: rgb(182, 199, 213); */
    /* color: rgb(152, 171, 186); */
    color: rgb(135, 151, 164);
    font-size: 10px;
}

.box-text {
    font-size: 3
}

.text-color-light {
    color: rgb(25, 98, 90);
}

.text-color-dark {
    color: rgb(13, 70, 92);
}

.text-muted {
    opacity: 70%;
}

/* .flex-item a:link {
    color: rgb(49, 93, 114);
    text-decoration: none;
} */

/* .flex-item a:link { */
    /* color: rgb(80, 146, 172); */
    /* color: aliceblue; */
    /* color: rgb(122, 161, 189); */
    /* color: rgb(181, 213, 210);
    text-decoration: none; */
/* } */

.container a:hover {
    color: rgb(164, 192, 212);
    text-decoration: none;
}



.flex-item a {
    /* color: rgb(25, 66, 98); */
    /* color: rgb(122, 161, 189); */
    color: rgb(157, 189, 201);
    /* color: rgb(128, 187, 208); */
    text-decoration: none;
}

.flex-item a:hover {
    /* color: rgb(25, 66, 98); */
    color: rgb(101, 142, 170);
    text-decoration: none;
}

.flex-item a:link {
    color: rgb(138, 183, 199);
    text-decoration: none;
}

.flex-item a:link:hover {
    color: rgb(101, 142, 170);
    text-decoration: none;
}

.link-color a {
    /* color: rgb(136, 189, 220); */
    /* color: rgb(55, 102, 133); */
    /* color: rgb(94, 135, 161); */
    /* color: rgb(79, 135, 170); */
    color: rgb(94, 135, 161);
    /* color: rgb(137, 180, 203); */
    text-decoration: none;
}

.link-color a:hover {
    /* color: rgb(109, 150, 174); */
    /* color: rgb(137, 180, 203); */
    color: rgb(55, 102, 133);
    text-decoration: none;
}

.link-color-2 a {
    color: rgb(79, 135, 170);
    text-decoration: none;
}

.link-color-2 a:hover {
    color: rgb(55, 102, 133);
    text-decoration: none;
}

.font-20 {
    font-size: 20px;
}


/* Navbar Customization */

.nav-push-down {
    position: relative;
    top: 20px;
}

.navbar-nav {
    text-align: end;
    padding: 0 20px 0 0
}

.nav-link {
    font-size: 22px;
}

.circle-logo {
    /* max-height: 92px; */
    max-height: 80px;
    min-width: 50px;
    flex: auto;
}

.word-logo {
    max-height: 65px;
    min-width: 50px;
    flex: auto;
}

.socials-box {
    /* background-color: rgb(12, 22, 32); */
    background-color: rgb(17, 27, 34);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 0 0 0 5px;
    z-index: 9;
}

.socials-box-2 {
    /* background-color: rgb(24, 39, 52); */
    /* background-color: rgb(12, 22, 32); */
    background-color: rgb(17, 27, 34);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 5px 0 0 0;
    z-index: 10;
}

.socials-logo {
    padding: 0 5px 5px 5px;
    height: 30px;
}


/* Footer Customization */

footer {
    /* background-color: rgb(31, 50, 65); */
    background-color: rgb(18, 33, 46);
    color: aliceblue;
}

.footer-desktop {
    padding: 30px 20px 10px 20px;
    margin: 0;
    text-align: left;
}

.footer-mobile {
    padding: 10px 10px 8px 15px;
    text-align: left;
}


/* Section Building */

.box-color {
    background-color: rgb(11, 11, 11);
    border: 1px solid rgb(255, 51, 0);
}

.item-color {
    background-color: rgb(80, 54, 98);
    border: 1px solid blue;
}

/* .box {
    width: 300px;
    min-height: 50px;
    font-size: 2rem;
  } */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;
    max-height: 100px;
    align-items: baseline;
}

.flex-container-nav-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container-vert-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-vert-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-container-vert-3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 450px;
}

.flex-container-vert-4 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flex-item-max {
    max-width: 20vw;
}





/* Section Customization */

.right-float {
    float: right;
}

.nav-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.min-height-full {
    /* Makes sure footer is at the bottom, content spans device height */
    min-height: 100vh;
}

.more-card:hover {
    /* background-color: rgb(240, 239, 239); */
    background-color: rgb(42, 61, 75);
}

.more-card {
    background-color: rgb(31, 49, 65);
    /* background-color: rgb(18, 33, 46); */
}

.container .col-auto .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.118);
}

.support-banner {
    width: 100vw;
}

.ros-card {
    background-color: rgb(18, 33, 46);
}


/* Image Customization */
.socials-logo {
    padding: 0 5px 5px 5px;
    height: 30px;
}

.socials-logo-2 {
    padding: 0 5px 5px 5px;
    height: 40px;
}

.img-flex {
    max-width: 450px;
}

.img-flex-2 {
    max-width: 250px;
}

.ros-pic {
    max-width: 75%; 
    height: auto; 
    margin-top: 15px;
}


.body-color {
    /* background-color: rgb(37, 59, 76); */
    background-color: rgb(31, 49, 65);
}

.my-text-color {
    /* color:aliceblue */
    /* color: rgb(122, 161, 189); */
    /* color: rgb(109, 150, 174); */
    color: rgb(136, 189, 220);
}

.my-text-color-light {
    color: aliceblue;
}

.my-text-color-medium {
    color: rgb(200, 213, 225);
}

.my-container {
    display: flex;
}

.col {
    flex-direction: column;
}

.center-items {
    align-items: center;
}

.small-gap {
    gap: 5vw;
}

.big-gap {
    gap: 15vw;
}

.my-text-box {
    /* flex-basis: 50vw; */
    /* max-width: 90vw; */
    max-width: 50vw;
    min-width: 300px;
    /* overflow-wrap: break-word;
    word-break: break-all; */
    padding: 10px 0 10px 0;
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}

.my-photo-box {
    /* min-width: 20vw; */
    min-width: 300px;
    max-width: 22vw;
} 

.my-photo-box-2 {
    min-width: 20vw;
    max-width: 25vw;
} 

.round-corners {
    border-radius: 10px;
}

.max-30 {
    max-width: 10vw;
}

.space-even {
    justify-content: space-evenly;
}

.space-bet {
    justify-content: space-between;
}

.space-ar {
    justify-content: space-around;
}

.space-cent {
    justify-content: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.align-start {
    align-items: start;
}


.font-25 {
    font-size: 25px;
}

.break-this {
    word-break: break-all;
}

.align-content-bot {
    align-items: end;
}

.card-subtitle {
    /* color: rgb(200, 213, 225); */
    color: rgb(109, 150, 174);
}



/* Colors */

.color-0 {
    color: rgb(17, 27, 34);
}

.color-1 {
    color: rgb(18, 33, 46);
}

.color-2 {
    color: rgb(55, 102, 133);
}

.color-3 {
    color: rgb(79, 135, 170);
}

.color-4 {
    color: rgb(31, 49, 65);
}

.color-5 {
    color: rgb(94, 135, 161);
}

.color-6 {
    color: rgb(137, 180, 203);
}

.color-7 {
    color: rgb(135, 151, 164);
}

.color-8 {
    color: rgb(152, 171, 186);
}

.color-9 {
    color: rgb(182, 199, 213);
}

.color-10 {
    color: rgb(199, 213, 225);
}


.main-box {
    max-width: 60em;
    /* display: flex; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 20px; */
    font-size: 2.5vmin;
    letter-spacing: 0.05em;
}

.child1 {
    width: 42%;
    height: auto;
    /* border: 1px solid rgb(134, 175, 196); */
}

.child2 {
    width: 42%;
    height: auto;
    /* border: 1px solid rgb(134, 175, 196); */
}

.col1 {
    width: 30vmin;
    min-width: 150px;
    height: auto;
    /* border: 1px solid rgb(134, 175, 196); */
}

.col2 {
    width: 30vmin;
    min-width: 150px;
    height: auto;
    /* border: 1px solid rgb(134, 175, 196); */
}

.col3 {
    width: 30vmin;
    min-width: 150px;
    height: auto;
    /* border: 1px solid rgb(134, 175, 196); */
}

.card-title {
    color: rgb(182, 199, 213);
}

.about-box {
    width: 32vmax;
    height: auto;
    /* border: 0.5px dotted gray; */
}

.left {
    margin-right: 10vmin;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.bottom-left-2 {
    position: absolute;
    bottom: 4px;
    left: 10px;
    font-size: 12px
}

/* .about-text {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
} */

/* @media only screen and (min-width: 600px) {
    .about-text {
        font-size: 2.1vmin;
        font-weight: normal;
        letter-spacing: 0.3vmin;
        line-height: 1.25;
    }
} */

.page-title-font {
    font-size: 5.2vmin;
    font-weight: normal;
    font-family: Marvin, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(199, 213, 225);
}

@media only screen and (min-width: 600px) {
    .page-title-font {
        font-size: 3.5vmin;
        font-weight: normal;
        font-family: Marvin, Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        text-align: center;
        color: rgb(199, 213, 225);
    }
}
