/* body {
  margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */


/* body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
} */

/* This box class is purely used for explaining how the bootstrap grid system works. */
/* .box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
} */

.navbar-color {
    /* background-color: rgb(34, 51, 49); */
    /* background-color: rgb(13, 70, 92); */
    /* background-color: rgb(4, 69, 62); */
    /* background-color: rgb(40, 62, 81); */
    background-color: rgb(31, 50, 65);
}

nav .navbar-nav li a{
    color: aliceblue;
}

nav .navbar-nav li a.current {
    color: rgb(190, 219, 216);
}

.navbar a:hover {
    color: rgb(12, 31, 27) !important;
    /* color: rgb(55, 111, 109) !important; */
}

.nav-push-down {
    position: relative;
    top: 20px;
}

.nav-flex {
    align-items: center;
}

.navbar-nav {
    text-align: end;
    padding: 0 20px 0 0
}

.nav-link {
    font-size: 22px;
}

.circle-logo {
    max-height: 92px;
    min-width: 50px;
    flex: auto;
    /* position:relative;
    top: -15px; */
    /* margin: 0 10px 0 0 */
}

.word-logo {
    max-height: 65px;
    min-width: 50px;
    flex: auto;
    /* position: relative;
    top: -15px; */
}

.socials-box {
    /* background-color: rgb(55, 111, 109); */
    background-color: rgb(31, 50, 65);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 0 0 0 5px;
    z-index: 9;
}

.socials-box-2 {
    /* background-color: rgb(55, 111, 109); */
    background-color: rgb(31, 50, 65);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 5px 0 0 0;
    z-index: 10;
}

.socials-logo {
    padding: 0 5px 5px 5px;
    height: 30px;
}

.socials-logo-2 {
    padding: 0 5px 5px 5px;
    height: 40px;
}

.front-header {
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
}

.greens-color {
    /* color: rgb(54, 80, 77); */
    /* color: rgb(13, 70, 92); */
    /* color: rgb(4, 69, 62); */
    color: rgb(31, 50, 65);
    /* color: rgb(31, 50, 65); */
}

.buffer-text {
    padding: 18px 10% 10px 10%;
    font-size: 20px;
}

.buffer-text a {
    /* color: rgb(115, 163, 158); */
    color: rgb(115, 141, 163);
}

footer {
    /* background-color: rgb(34, 51, 49); */
    /* background-color: rgb(4, 69, 62); */
    background-color: rgb(40, 62, 81);
    color: aliceblue;
}

.footer-desktop {
    padding: 30px 20px 10px 20px;
    margin: 0;
    text-align: left;
}

.footer-mobile {
    padding: 10px 10px 8px 15px;
    text-align: left;
}

.footer-text-left {
    /* width: 35%; */
    text-align: left;
}

.footer-text-right {
    width: 50%;
    text-align: right;
}

/* start */

.box {
    width: 300px;
    min-height: 50px;
    font-size: 2rem;
    /* background-color: lightblue;
    border: 1px solid blue; */
  }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(115, 163, 158);
    border: 1px solid blue; */
}

.flex-container-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;
    max-height: 100px;
    align-items: baseline;
    /* background-color:rgb(115, 163, 158);
    border: 1px solid blue; */
}

.flex-container-nav-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgb(115, 163, 158);
    border: 1px solid blue; */
}

.flex-container-vert-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(191, 211, 189);
    border: 1px solid rgb(0, 255, 0); */
}

.flex-container-vert-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(191, 211, 189);
    border: 1px solid rgb(0, 255, 0); */
}

.flex-container-vert-3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    /* background-color:rgb(191, 211, 189);
    border: 1px solid rgb(0, 255, 0); */
}


.flex-item {
    font-size: 20px;
    /* background-color: rgb(204, 219, 224);
    border: 1px solid red; */
}

/* end */


/* .flex-item-button {
    background-color: rgb(204, 219, 224);
    border: 1px solid red; 
} */

.space-even {
    justify-content: space-evenly;
}

.space-bet {
    justify-content: space-between;
}

.top-padding {
    padding: 20px 0 0 0;
}

.bottom-padding {
    padding: 0 0 20px 0;
}

.page-title {
    font-size: 35px;
    /* color: rgb(13, 70, 92); */
    /* color: rgb(54, 80, 77); */
    /* color: rgb(31, 50, 65); */
    color: rgb(40, 62, 81);
    font-weight: 900;
    letter-spacing: 2px;
}

.my-card-title {
    font-size: 20px;
    /* color: rgb(54, 80, 77); */
    /* color: rgb(4, 69, 62); */
    color: rgb(40, 62, 81);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.my-card-text {
    /* color:rgb(34, 51, 49) */
    color: rgb(47, 77, 103);
}

.box-text {
    font-size: 3
}

.text-color-light {
    color: rgb(25, 98, 90);
}

.text-color-dark {
    color: rgb(13, 70, 92);
}

/* .more-container-color {
    background-color: rgb(239, 239, 239);
} */

.more-card:hover {
    /* background-color: rgb(239, 246, 242); */
    background-color: rgb(248, 248, 248);
}

.img-flex {
    /* width: 60vw; */
    max-width: 450px;
}

.min-width-pls {
    min-width: 200px;
}

.text-muted {
    opacity: 70%;
}

.flex-item a:link {
    /* color: rgb(25, 98, 90); */
    color: rgb(49, 93, 114);
    text-decoration: none;
}

.flex-item a {
    /* color: rgb(25, 98, 90); */
    color: rgb(25, 66, 98);
    text-decoration: none;
}

.container a:hover {
    color: rgb(4, 61, 59);
    text-decoration: none;
}

.min-height-full {
    min-height: 100vh;
}

.right-float {
    float: right;
}

.nav-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.ros-pic {
    max-width: 75%; 
    height: auto; 
    margin-top: 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.118), 0 6px 20px 0 rgba(0, 0, 0, 0.107); */
}

.container .col-auto .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.118);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.118), 0 6px 20px 0 rgba(0, 0, 0, 0.107); */
}

.text-on-img-container {
    position: relative;
    text-align: center;
    color: white;
}

.text-on-img {
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vw;
    font-weight: 900;
    letter-spacing: 0.5vw;

}

/* .nav-padding {
    padding: 30px 0 0 0;
} */


/* .toggler-color {
    background-color: brown !important;
} */

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
} */
