/* body {
  margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */


/* body::before {
  content: "XS";
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
} */

/* This box class is purely used for explaining how the bootstrap grid system works. */
/* .box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
} */

.navbar-color {
    background-color: rgb(34, 51, 49);
}

nav .navbar-nav li a{
    color: aliceblue;
}

nav .navbar-nav li a.current {
    color: rgb(190, 219, 216);
}

.navbar a:hover {
    color: rgb(12, 31, 27) !important;
    /* color: rgb(55, 111, 109) !important; */
}

.nav-push-down {
    position: relative;
    top: 20px;
}

.nav-link-edit {
    font-size: 22px;
    /* margin: 0 10px */
}

.circle-logo {
    height: 92px;
    /* position:relative;
    top: -15px; */
    /* margin: 0 10px 0 0 */
}

.word-logo {
    height: 70px;
    /* position: relative;
    top: -15px; */
}

.socials-box {
    background-color: rgb(55, 111, 109);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 0 0 0 5px;
    z-index: 9;
}

.socials-box-2 {
    background-color: rgb(55, 111, 109);
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 5px 0 0 0;
    z-index: 10;
}

.socials-logo {
    padding: 0 5px 5px 5px;
    height: 30px;
}

.socials-logo-2 {
    padding: 0 5px 5px 5px;
    height: 40px;
}

.front-header {
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
}

.greens-color {
    color: rgb(54, 80, 77);
    /* color: rgb(13, 70, 92); */
}

.buffer-text {
    padding: 18px 10% 10px 10%;
    font-size: 20px;
}

.buffer-text a {
    color: rgb(115, 163, 158);
}

footer {
    background-color: rgb(34, 51, 49);
    /* padding: 30px 20px 10px 20px; */
    padding: 43px 20px 10px 20px;
    margin: 0;
    color: aliceblue;
    display: flex;
}

.footer-text-left {
    /* width: 35%; */
    text-align: left;
}

.footer-text-right {
    width: 50%;
    text-align: right;
}

.box {
    width: 300px;
    /* background-color: lightblue;
    border: 1px solid blue; */
    min-height: 50px;
    font-size: 2rem;
  }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(115, 163, 158);
    border: 1px solid blue */
}

.flex-container-vert-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgb(191, 211, 189);
    border: 1px solid rgb(0, 255, 0) */
}

.flex-container-vert-2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: start;
    /* background-color:rgb(191, 211, 189);
    border: 1px solid rgb(0, 255, 0) */
}


.flex-item {
    /* background-color: rgb(204, 219, 224);
    border: 1px solid red; */
    font-size: 20px;
}

.space-even {
    justify-content: space-evenly;
}

.space-bet {
    justify-content: space-between;
}

.top-padding {
    padding: 20px 0 0 0;
}

.bottom-padding {
    padding: 0 0 20px 0;
}

.page-title {
    font-size: 35px;
    color: rgb(13, 70, 92);
    font-weight: 900;
    letter-spacing: 2px;
}

.box-text {
    font-size: 3
}

.text-color-light {
    color: rgb(25, 98, 90);
}

.text-color-dark {
    color: rgb(13, 70, 92);
}

.img-flex {
    width: 60vw;
    max-width: 500px;
}

.min-width-pls {
    min-width: 200px;
}

.text-muted {
    opacity: 70%;
}

.flex-item a:link {
    color: rgb(25, 98, 90);
    text-decoration: none;
}

.container a:hover {
    color: rgb(4, 61, 59);
    text-decoration: none;
}

.min-height-full {
    min-height: 100vh;
}

/* .nav-padding {
    padding: 30px 0 0 0;
} */


/* .toggler-color {
    background-color: brown !important;
} */

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
} */
